.card-news-md6 {
  display: block;
  background: #fff;
  height: 300px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow-y: hidden;
  .news-inner {
    display: flex;
    height: 100%;
  }
  .card-news-md6-img {
    min-width: 45%;
    height: 100%;
    position: relative;
    transition: all 0.3s;
    &:hover {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(8, 25, 61, 0.178);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .card-news-content {
    padding: 15px;
    p {
      line-height: 1.4;
    }
  }
}
