{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}
<main class="container m-t-50">
  <div class="row">
    <div class="col-12 m-b-30">
      <div>
        <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/t5.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/sh2.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/sh3.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/t1.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/t1.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/t2.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/t3.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/t4.jpg" alt=""></div>
            </div>
            <div class="swiper-slide">
              <div class="swipe-img"><img src="../../images/png/t5.jpg" alt=""></div>
            </div>
          </div>
          <div class="swiper-button-next"><img src="../../images/svg/right-Vector.svg" alt=""></div>
          <div class="swiper-button-prev"><img src="../../images/svg/left-Vector.svg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-20">
    <div class="col-md-12 m-b-20">
      <h2>Taekwondo WTF haqida</h2>
    </div>
    <div class="col-md-6">
      <div>
        <a class="card-md6" href="#!">
          <div class="card-md6-img">
            <img src="../../images/png/t3.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h3>Taekwondo tarixi</h3>
        <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum unde magni possimus accusamus
          deserunt modi. Cupiditate, perspiciatis doloremque! Facere quas quisquam corrupti sed quaerat neque asperiores
          ipsa impedit amet ullam.
          Corporis unde optio, facilis numquam dolores reprehenderit cum quis placeat? Soluta, ab, magni repellat
          distinctio ullam laborum commodi nemo temporibus exercitationem aliquid ipsum dolore. Non laboriosam id
          eligendi quaerat exercitationem?
          Expedita nihil aliquid voluptatibus! Perspiciatis alias magni reprehenderit omnis error quibusdam maiores
          asperiores eos, odio quisquam sit quae voluptates aut assumenda cumque blanditiis officiis ut delectus
          expedita molestiae, sunt harum!</p>
      </div>
    </div>
  </div>
  <div class="row m-t-30 m-b-30">
    <div class="col-md-6">
      <div>
        <h3>Taekwondo Sirdaryo viloyatida</h3>
        <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum unde magni possimus accusamus
          deserunt modi. Cupiditate, perspiciatis doloremque! Facere quas quisquam corrupti sed quaerat neque asperiores
          ipsa impedit amet ullam.
          Corporis unde optio, facilis numquam dolores reprehenderit cum quis placeat? Soluta, ab, magni repellat
          distinctio ullam laborum commodi nemo temporibus exercitationem aliquid ipsum dolore. Non laboriosam id
          eligendi quaerat exercitationem?
          Expedita nihil aliquid voluptatibus! Perspiciatis alias magni reprehenderit omnis error quibusdam maiores
          asperiores eos, odio quisquam sit quae voluptates aut assumenda cumque blanditiis officiis ut delectus
          expedita molestiae, sunt harum!</p>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <a class="card-md6" href="#!">
          <div class="card-md6-img">
            <img src="../../images/png/t3.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Sirdaryo viloyati Taekwondo federatsiyasi</h3>
    </div>
    <div class="col-md-4">
      <div>
        <a class="card-md4" href="#!">
          <div class="card-md4-img">
            <img src="../../images/png/sh1.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
          <div class="card-md4-content">
            <h5>Alimov Jamshid</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum a cum quis explicabo placeat magnam
              quidem corporis doloribus minus assumenda numquam voluptatum vero perferendis saepe laudantium, at nihil
              in eius!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a class="card-md4" href="#!">
          <div class="card-md4-img">
            <img src="../../images/png/sh1.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
          <div class="card-md4-content">
            <h5>Turdimurodov Shorahim</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum a cum quis explicabo placeat magnam
              quidem corporis doloribus minus assumenda numquam voluptatum vero perferendis saepe laudantium, at nihil
              in eius!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a class="card-md4" href="#!">
          <div class="card-md4-img">
            <img src="../../images/png/sh1.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
          <div class="card-md4-content">
            <h5>Julbekov Sharofiddin</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum a cum quis explicabo placeat magnam
              quidem corporis doloribus minus assumenda numquam voluptatum vero perferendis saepe laudantium, at nihil
              in eius!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a class="card-md4" href="#!">
          <div class="card-md4-img">
            <img src="../../images/png/sh1.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
          <div class="card-md4-content">
            <h5>Alimov Jamshid</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum a cum quis explicabo placeat magnam
              quidem corporis doloribus minus assumenda numquam voluptatum vero perferendis saepe laudantium, at nihil
              in eius!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a class="card-md4" href="#!">
          <div class="card-md4-img">
            <img src="../../images/png/sh1.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
          <div class="card-md4-content">
            <h5>Turdimurodov Shorahim</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum a cum quis explicabo placeat magnam
              quidem corporis doloribus minus assumenda numquam voluptatum vero perferendis saepe laudantium, at nihil
              in eius!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a class="card-md4" href="#!">
          <div class="card-md4-img">
            <img src="../../images/png/sh1.jpg" alt="">
            <span class="card-shadow"></span>
          </div>
          <div class="card-md4-content">
            <h5>Julbekov Sharofiddin</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum a cum quis explicabo placeat magnam
              quidem corporis doloribus minus assumenda numquam voluptatum vero perferendis saepe laudantium, at nihil
              in eius!</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row m-b-30">
    <div class="col-md-12">
      <h2 class="m-b-15">News</h2>
    </div>
    <div class="col-md-6">
      <div>
        <a class="card-news-md6" href="#!">
          <div class="news-inner">
            <div class="card-news-md6-img">
              <img src="../../images/png/t4.jpg" alt="">
              <span class="card-shadow"></span>
            </div>
            <div class="card-news-content">
              <h5>News</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quaerat dolorem enim explicabo quis
                voluptatem deleniti iure libero voluptates ipsa saepe culpa maxime consequuntur repudiandae vel,
                quisquam
                voluptatum rerum quasi?</p>
                
            </div>

          </div>

        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <a class="card-news-md6" href="#!">
          <div class="news-inner">
            <div class="card-news-md6-img">
              <img src="../../images/png/t3.jpg" alt="">
              <span class="card-shadow"></span>
            </div>
            <div class="card-news-content">
              <h5>News</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quaerat dolorem enim explicabo quis
                voluptatem deleniti iure libero voluptates ipsa saepe culpa maxime consequuntur repudiandae vel,
                quisquam
                voluptatum rerum quasi?</p>
                
            </div>

          </div>

        </a>
      </div>
    </div>
  </div>
</main>

{% include "components/footer.html" %}
{% endblock %}