<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-infoL">
          <a class="logo" href="#!"><img src="../../../images/png/logo-head.png" alt=""></a>
          <div>About us</div>
          <div>Hamkorlarimiz</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-social">
          <a href="#!">
            <img src="../../../images/svg/facebook.svg" alt="">
          </a><a href="#!">
            <img src="../../../images/svg/instagram.svg" alt="">
          </a><a href="#!">
            <img src="../../../images/svg/telegram.svg" alt="">
          </a><a href="#!">
            <img src="../../../images/svg/youtube.svg" alt="">
          </a>
        </div>
      </div>

      <div class="col-md-12">
        <hr>
        <div class="footer-end-block">
          <div class="footer-info">© 2021 Sirdaryo Taekvondo federatsiyasi Uz OOO. <br> Trademarks and brands are the property of their respective
            owners</div>
        </div>
      </div>
    </div>

  </div>
</footer>